# Kotlin
*.class
*.jar
*.war
*.ear
*.iml
*.hprof
*.log
*.gz
*.out
*.xml
*.ap_
*.dex
*.apk
*.aar
*.zip
*.o
*.a
*.so
*.dylib
*.bin
*.lock
*.idx
*.pack
*.orig
*.rej
*.swo
*.swp
*.DS_Store
*.pyc
*.pyo
*.pyd

# Gradle
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat

# Android
.kotlin/
.idea/
*.iml
.gradle/
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/misc.xml
.idea/dictionaries
.idea/copyright
.idea/inspectionProfiles
captures
.externalNativeBuild
.cxx

# iOS
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Kotlin Multiplatform
build/
bin/
.composeApp-*

# Ignore Kotlin metadata
.kotlin/metadata/
.kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/